@use "../abstracts/mixins" as *;
.toggle-btn {
  position: relative;
  width: 18px;
  height: 12px;
  background-color: inherit;
  cursor: pointer;
  & span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--clr-title);
    border-radius: 1px;
    pointer-events: none;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: calc((100% - 2px) / 2);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.open {
    & span:nth-child(1) {
      animation: 0.5s linear 0s forwards toggle-1;
    }
    & span:nth-child(2) {
      animation: 0.25s linear 0s forwards toggle-2;
    }
    & span:nth-child(3) {
      animation: 0.5s linear 0s forwards toggle-3;
    }
  }
  &.close {
    & span:nth-child(1) {
      animation: 0.5s linear 0s forwards toggle-4;
    }
    & span:nth-child(2) {
      animation: 0.25s linear 0s forwards toggle-5;
    }
    & span:nth-child(3) {
      animation: 0.5s linear 0s forwards toggle-6;
    }
  }
  @include md {
    display: none;
  }
}

@keyframes toggle-1 {
  0% {
    top: 0px;
  }
  //   50% {
  //     top: 5px;
  //   }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(-45deg);
  }
}
@keyframes toggle-2 {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes toggle-3 {
  0% {
    bottom: 0;
  }

  50% {
    bottom: 5px;
    transform: rotate(0deg);
  }

  100% {
    bottom: 5px;
    transform: rotate(45deg);
  }
}

@keyframes toggle-4 {
  0% {
    top: 5px;
    transform: rotate(-45deg);
  }

  50% {
    top: 5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0px;
    transform: rotate(-0deg);
  }
}
@keyframes toggle-5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toggle-6 {
  0% {
    bottom: 5px;
    transform: rotate(45deg);
  }

  50% {
    bottom: 5px;
    transform: rotate(0deg);
  }

  100% {
    bottom: 0px;
    transform: rotate(0deg);
  }
}
